---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
// import { getCollection } from "astro:content";
import { getPostInfo } from "~/lib/wp.ts";

const slug = Astro.params.slug;
console.log("el slug es: " + slug);
if (!slug) {
  return Astro.redirect("/404");
}

const { title, content } = await getPostInfo(slug);
---

<Layout>
  <div class="bg-white px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
      <h1
        class="mt-2 text-4xl mx-auto justify-center align-items-c py-5 font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
      >
        {title}
      </h1>
      <div
        class="text-gray-700 [&_p]:mb-4 [&_p:last-child]:mb-0 [&_ul]:list-disc [&_ul]:pl-6 [&_ol]:list-decimal [&_ol]:pl-6"
        set:html={content}
      />
    </div>
  </div>
</Layout>
