---
const {link, label} = Astro.props;
---

<a
  href={link}
  class="mt-4 inline-block rounded-lg bg-[#014650] px-6 py-3 text-sm font-semibold text-white shadow-md hover:bg-[#013a42] focus:outline-none focus:ring-2 focus:ring-[#014650] focus:ring-offset-2"
>
  {label}
</a>
