---
const {classColor, link} = Astro.props;
---

<a
  href={link}
  class={classColor ? classColor : `rounded-full px-4 py-2.5 text-sm font-semibold text-white transition-opacity hover:opacity-80 focus-visible:outline focus-visible:outline-offset-2 bg-[#014650]`}
>
  <slot />
</a>
