---
import img from '~/assets/heading/Bridge.webp';
import {Image} from 'astro:assets';
import Button from '~/components/Button.astro';

---

<div class="relative isolate overflow-hidden bg-white py-24 sm:py-50">
  <Image src={img} alt="Picture from Hong Kong" fetchpriority="high" loading="eager" class="absolute inset-0 -z-10 size-full object-cover object-top transform -scale-x-100 opacity-30 lg:opacity-50 md:object-top" />
  <div aria-hidden="true" class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl">
    <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="aspect-1097/845 w-274.25 bg-linear-to-tr from-[#ff4694] to-[#776fff] opacity-15"></div>
  </div>
  <div aria-hidden="true" class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:-top-112 sm:ml-16 sm:translate-x-0">
    <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="aspect-1097/845 w-274.25 bg-linear-to-tr from-[#ff4694] to-[#776fff] opacity-15"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl lg:mx-0">
      <h2 class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Lead with Confidence</h2>
      <h2 class="text-5xl font-semibold tracking-tight text-[#3C788C] sm:text-7xl">Across Cultures</h2>
      <p class="mt-8 text-lg font-medium text-pretty text-gray-900 lg:text-gray-700 sm:text-2xl/8">We help leadership teams in global organizations reduce friction across cultures, align decisions, and unlock their full potential.</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <Button link="/our-services/prism">Explore Our Approach</Button>
      <Button link="/#testimonials" classColor="rounded-full px-4 py-2.5 text-sm font-semibold text-white
         bg-gray-600
         transition-opacity hover:opacity-80 ml-2 lg:ml-4">View Our Results</Button>
    </div>
  </div>
</div>
