---

---

<article class="bg-[#014650] p-4 max-w-xl mx-auto">
  <h2
    class="text-4xl font-semibold tracking-tight text-balance text-white text-center sm:text-5xl mb-5"
  >
    How Our Leadership Service Works
  </h2>

  <div class="rounded-2xl border-2 border-white/80 bg-white/10 p-6 shadow-sm">
    <article class="flex">
      <div class="mr-4 flex flex-col items-center">
        <div>
          <div
            class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 text-blue-800 dark:text-slate-200"
            >
              <path d="M12 5l0 14"></path>
              <path d="M18 13l-6 6"></path>
              <path d="M6 13l6 6"></path>
            </svg>
          </div>
        </div>
        <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
      </div>
      <div class="pt-1 pb-8">
        <p class="mb-2 text-xl font-bold text-white dark:text-slate-300">
          Step 1
        </p>
        <h3 class="text-lg font-semibold text-white dark:text-white">
          Assessment
        </h3>
        <p class="text-white dark:text-white">
          Uncover leadership patterns and friction points
        </p>
      </div>
    </article>

    <article class="flex">
      <div class="mr-4 flex flex-col items-center">
        <div>
          <div
            class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 text-blue-800 dark:text-slate-200"
            >
              <path d="M12 5l0 14"></path>
              <path d="M18 13l-6 6"></path>
              <path d="M6 13l6 6"></path>
            </svg>
          </div>
        </div>
        <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
      </div>
      <div class="pt-1 pb-8">
        <p class="mb-2 text-xl font-bold text-white dark:text-white">
          Step 2
        </p>
        <h3 class="text-lg font-semibold text-white dark:text-white">
          Improvement Plan
        </h3>
        <p class="text-white dark:text-white">
          Tailored recommendations based on Prism insights
        </p>
      </div>
    </article>

    <article class="flex">
      <div class="mr-4 flex flex-col items-center">
        <div>
          <div
            class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 text-blue-800 dark:text-slate-200"
            >
              <path d="M12 5l0 14"></path>
              <path d="M18 13l-6 6"></path>
              <path d="M6 13l6 6"></path>
            </svg>
          </div>
        </div>
        <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
      </div>
      <div class="pt-1 pb-8">
        <p class="mb-2 text-xl font-bold text-white dark:text-white">
          Step 3
        </p>
        <h3 class="text-lg font-semibold text-white dark:text-white">
          3-Month Coaching / Implementation
        </h3>
        <p class="text-white dark:text-white">
          Ensure alignment and measurable results
        </p>
      </div>
    </article>

    <article class="flex">
      <div class="mr-4 flex flex-col items-center">
        <div>
          <div
            class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-6 w-6 text-white dark:text-slate-200"
            >
              <path d="M5 12l5 5l10 -10"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="pt-1">
        <p class="mb-2 text-xl font-bold text-white dark:text-slate-300">
          Ready!
        </p>
      </div>
    </article>
  </div>
</article>
