---
import Layout from "~/layouts/Layout.astro";
import SectionAbout from "~/components/SectionAbout.astro";
import glassPhoto from "~/assets/about/Glass-Photo.webp";

import { Image } from "astro:assets";
import HorizontalTimeline from "~/components/HorizontalTimeline.astro";
import SimpleSection from "~/components/SimpleSection.astro";
import RoutingsectionsNoButton from "~/components/RoutingsectionsNoButton.astro";
import ButtonSquare from "~/components/ButtonSquare.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <SectionAbout
    title="Align Your Leadership Team Across Cultures"
    description="Reduce friction, make faster decisions, and unlock your team's full leadership potential."
  >
    <div slot="details" class="mt-6">
      <ul class="list-disc pl-6 space-y-2 text-gray-700">
        <li>
          Teams waste hours in meetings due to misinterpreted priorities across
          cultures
        </li>
        <li>
          Key decisions stall when leaders interpret timelines, risk, or
          accountability differently
        </li>
        <li>
          Friction arises from unclear communication styles and assumptions
          shaped by diverse cultural backgrounds
        </li>
      </ul>
      <ButtonSquare link="/contact#schedule-meeting" label="Request a Consultation"/>
    </div>
    <div slot="image" class="h-110 w-full overflow-hidden rounded-2xl">
      <Image
        slot="image"
        width="2432"
        height="1000"
        src={glassPhoto}
        alt="Product screenshot"
        class="w-full h-full object-cover object-bottom rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-228 md:-ml-4 lg:ml-0"
      />
    </div>
  </SectionAbout>

  <SimpleSection customeColor="#fff">
    <HorizontalTimeline />
  </SimpleSection>

  <SimpleSection customeColor="#fff">
    <RoutingsectionsNoButton />
    <div class="align-items-center text-center">
      <a
        href="/contact#schedule-meeting"
        class="rounded-lg bg-[#014650] px-6 py-3 text-sm font-semibold text-white shadow-md hover:bg-[#013a42] focus:outline-none focus:ring-2 focus:ring-[#014650] focus:ring-offset-2"
      >
        Request a Consultation
      </a>
    </div>
  </SimpleSection>
</Layout>
